@import "../styles/sass/abstracts/functions";
@import "../styles/sass/abstracts/mixins";
@import "../styles/sass/abstracts/variables";
@import "../styles/sass/components/button.module.scss";

.login-page,
.signup-page {
    height: 100%;
}

.login_section,
.signup_section {
    display: grid;
    grid-template-columns: 1fr;
    min-height: 100%;
    padding: 5%;
}

.form_card {
    width: 100%;
    justify-self: center;
    align-self: center;

    h3 {
        text-align: center;
    }
}

.button {
    background-color: $black !important;
    width: 100%;
    &:hover {
        color: $black;
        background-color: transparent !important;
    }
}

.login_form,
.signup_form {
    max-width: 400px;

    &__email,
    &__password {
        appearance: none;
        border: 1px solid $black;
        border-radius: 5px;
        padding: $p-0_5 $p-1;
    }

    &__signup {
        text-decoration: underline;
        font-weight: font-weight(font-bold);

        // &:hover {
        //     color: $black;
        // }
    }

    &__email,
    &__password,
    &__signup {
        &:focus-visible {
            outline: 1px solid $black;
            box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.74);
            -webkit-box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.74);
            -moz-box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.74);
        }
    }

    &__label {
        display: flex;
        flex-direction: column;
        gap: $p-0_5;
        position: relative;
    }

    &__btn {
        margin-top: $p-0_5;
        padding: 0.75rem !important;
    }

    &__error {
        color: $dark-red;
        font-size: font-size(fs-16);
        padding-top: calc($p-0_5 - 0.3rem);
    }

    &__donthaveacc {
        text-align: center;
    }
}

.input_field {
    display: block;
    margin-bottom: $p-1_5;
}

// password icon show / hide
.password {
    &__hide,
    &__show {
        background: transparent;
        border: none;
        position: absolute;
        right: $p-0_5;
        bottom: 0;
        margin-bottom: 7px;
        cursor: pointer;
    }

    &__icon {
        color: $gray;
    }
}

.logo {
    svg {
        width: 150px;
        margin: 0 auto;
    }
}

// .login-bg,
// .signup-bg {
//     background-image: url("../../public/images/logn_in-min-min.jpg");
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     height: 100vh;
//     width: 100%;
//     object-fit: cover;
//     border-top-left-radius: 30px;
//     border-bottom-left-radius: 30px;
// }

.login-bg,
.signup-bg {
    display: none;
}
@include breakpoint(xs, min) {
    .form_card {
        width: 340px;
    }
}

@include breakpoint(md, min) {
    .login_section,
    .signup_section {
        grid-template-columns: 1fr 1fr;
        padding: $p-0;
    }
    .form_card {
        h3 {
            text-align: left;
        }
    }
    .login_form,
    .signup_form {
        &__donthaveacc {
            text-align: left;
        }
    }

    .login-bg,
    .signup-bg {
        display: block;
        img {
            height: 100vh;
            width: 100%;
            object-fit: cover;
        }
    }

    .logo {
        svg {
            width: 150px;
            margin: 0;
        }
    }
}
